<a href="https://colab.research.google.com/github/daquarti/AI/blob/main/fraud_identification_pca_dbscan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.menos de 48hs de evolución
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/My Drive/NLP/GPT2/autonomous/"

In [ ]:
path2 = "/content/drive/My Drive/NLP/summary/"

In [ ]:
import pandas as pd

In [ ]:

df = pd.read_csv (path + 'uma_18_01_2021.csv')

TypeError: ignored

In [ ]:
import pandas as pd
df2 = pd.read_json (path2 + 'speech_text.json')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582331 entries, 0 to 582330
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      582331 non-null  object
 1   text    582331 non-null  object
dtypes: object(2)
memory usage: 8.9+ MB

In [ ]:
df.incidente_id

0         2021-01-18_03-59-29-445596
1         2021-01-18_04-00-54-846906
2         2021-01-18_04-15-18-482347
3         2021-01-17_22-06-06-099388
4         2021-01-17_23-29-38-571878
                     ...
559926    2020-09-18_20-21-19-073520
559927    2020-09-18_14-48-46-679891
559928    2020-09-18_23-13-03-056712
559929    2020-09-20_11-40-29-072923
559930    2020-09-17_17-01-30-865950
Name: incidente_id, Length: 559931, dtype: object

In [ ]:
df_3 = df.set_index('assignation_id').join(df2.set_index('id'))

In [ ]:
df3_3 = df_3.drop_duplicates()

In [ ]:
df_3['texto_edit'] = df_3.text.str.len()

In [ ]:
df_3['texto_edit'] = df_3.texto_edit.fillna(0)

In [ ]:
df_3['mr_epicrisis_edit'] = df_3.mr_epicrisis.str.len()

In [ ]:
df_3['mr_epicrisis_edit'] = df_3.mr_epicrisis_edit.fillna(0)

In [ ]:
df_3.mr_epicrisis_edit.sample(10)

2020-07-21_17-37-34-132196    271.0
2020-11-12_20-25-02-818618    127.0
2021-01-09_19-18-23-901096    147.0
2020-05-19_09-16-41-930631    188.0
2020-10-17_20-07-59-135758    152.0
2020-09-01_03-13-03-765961     46.0
2021-01-08_10-39-15-601078     86.0
2020-10-06_08-58-54-909276    217.0
2020-10-05_00-48-09-865098    102.0
2020-08-27_20-42-33-277829    162.0
Name: mr_epicrisis_edit, dtype: float64

In [ ]:
df4 = df_3[['provider_cuit', 'mr_dt_cierre', 'mr_preds_pre_clasif', 'mr_reposo',
       'mr_epicrisis', 'mr_epicrisis_edit', 'mr_destino_final', 'mr_receta', 'texto_edit']]

In [ ]:
dummy2 = pd.get_dummies(df4['mr_destino_final'], prefix='destino')
df4 = pd.concat([df4, dummy2], axis = 1)

In [ ]:
#convierto a datime las variables temporales y genero la variable "duración_consulta_segundos"
df4['ts_cierre'] = pd.to_datetime(df4["mr_dt_cierre"], errors='coerce')
df4['ts_inicio'] = pd.to_datetime(df4["mr_preds_pre_clasif"], errors='coerce')
df4['tiempo_consulta'] = df4.ts_cierre - df4.ts_inicio
df4['duración_consulta_segundos'] = df4.tiempo_consulta.dt.total_seconds()

In [ ]:
df5 = df4.drop_duplicates()

In [ ]:
df5.columns

Index(['provider_cuit', 'mr_dt_cierre', 'mr_preds_pre_clasif', 'mr_reposo',
       'mr_epicrisis', 'mr_epicrisis_edit', 'mr_destino_final', 'mr_receta',
       'texto_edit', 'destino_Anula el paciente',
       'destino_Anula por falla de conexión',
       'destino_En domicilio con instrucciones',
       'destino_En domicilio con monitoreo',
       'destino_En domicilio con seguimiento',
       'destino_Evaluación en amarillo', 'destino_Evaluación en rojo',
       'destino_Evaluación en verde VMD',
       'destino_Indico concurrir a guardia externa',
       'destino_Indico seguimiento por consultorio externo',
       'destino_Paciente ausente', 'destino_Traslado protocolo pandemia',
       'destino_USER CANCEL', 'ts_cierre', 'ts_inicio', 'tiempo_consulta',
       'duración_consulta_segundos'],
      dtype='object')

In [ ]:
df6 = df5

In [ ]:
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

In [ ]:
df6.sample(10)

       provider_cuit  ... duración_consulta_segundos
529721  20957529330   ...  1863.0
193927  27939679036   ...  2921.0
422601  27949184558   ...  911.0
544552  20290402280   ...  760.0
235150  27368065221   ...  5932.0
70810   20955349378   ...  851.0
255299  27955020974   ...  1343.0
153440  27218524902   ...  914.0
328531  20143917429   ...  381.0
501633  20950663198   ...  569.0

[10 rows x 26 columns]

In [ ]:
df6.to_csv(path2 + 'fraude_medicos.csv', index=False )

In [ ]:
df6 = pd.read_csv (path2 + 'fraude_medicos.csv' )

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df6.columns

Index(['provider_cuit', 'mr_dt_cierre', 'mr_preds_pre_clasif', 'mr_reposo',
       'mr_epicrisis', 'mr_epicrisis_edit', 'mr_destino_final', 'mr_receta',
       'texto_edit', 'destino_Anula el paciente',
       'destino_Anula por falla de conexión',
       'destino_En domicilio con instrucciones',
       'destino_En domicilio con monitoreo',
       'destino_En domicilio con seguimiento',
       'destino_Evaluación en amarillo', 'destino_Evaluación en rojo',
       'destino_Evaluación en verde VMD',
       'destino_Indico concurrir a guardia externa',
       'destino_Indico seguimiento por consultorio externo',
       'destino_Paciente ausente', 'destino_Traslado protocolo pandemia',
       'destino_USER CANCEL', 'ts_cierre', 'ts_inicio', 'tiempo_consulta',
       'duración_consulta_segundos'],
      dtype='object')

In [ ]:
df6_filter = df6[['provider_cuit', 'mr_reposo',
      'mr_epicrisis_edit', 'mr_receta',
       'texto_edit', 'destino_Anula el paciente',
       'destino_Anula por falla de conexión',
       'destino_En domicilio con instrucciones',
       'destino_En domicilio con monitoreo',
       'destino_En domicilio con seguimiento',
       'destino_Evaluación en amarillo', 'destino_Evaluación en rojo',
       'destino_Evaluación en verde VMD',
       'destino_Indico concurrir a guardia externa',
       'destino_Indico seguimiento por consultorio externo',
       'destino_Paciente ausente', 'destino_Traslado protocolo pandemia',
       'destino_USER CANCEL',
       'duración_consulta_segundos']]

In [ ]:
df6_filter.sample(10)

       provider_cuit mr_reposo  ...  destino_USER CANCEL duración_consulta_segundos
494802   20301453443       NaN  ...                    0                      240.0
530603   27104788756       NaN  ...                    0                      226.0
417440   27949184558       NaN  ...                    0                     1294.0
362281   27955020974       NaN  ...                    0                      211.0
367298   27207074719       NaN  ...                    0                     1430.0
435938   27959169972       NaN  ...                    0                      739.0
325963   20947957091       NaN  ...                    0                      695.0
182298   20953156068        72  ...                    0                     1399.0
165936   27954430419       NaN  ...                    0                     2810.0
309914   27957411652      alta  ...                    0                      399.0

[10 rows x 19 columns]

In [ ]:
df2 = df6_filter

In [ ]:
#Remplazo los NaN de recetas y los que tuvieron emisión les asigno 1
df2.mr_receta = df2.mr_receta.fillna(0)
df2['receta'] = df2['mr_receta'].replace('[]', 0)
df2.receta[df2.receta != 0] = 1

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1021: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [ ]:
#remplazo los NaN por O y si tiene asignado reposo asigno 1
df2.mr_reposo = df2.mr_reposo.fillna(0)
df2.mr_reposo[df2.mr_reposo != 0] = 1

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:1021: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [ ]:
#Genro la variable "piscofarmacos"
lista_recetas = df2.mr_receta.to_list()
import ast
lista_final = []
for x in lista_recetas:
  try:
    a = ast.literal_eval(x)
    lista_final.append (a)
  except:
    lista_final.append ([])

duplicado = []
for x in lista_final:
  if x != []:
    if x != 0:
      try:
        duplicados = []
        for y in x:
          duplicados.append (int(y['duplicado']))
      except:
        duplicados = []
    else:
      duplicados = []
  else:
    duplicados = []
  duplicado.append (duplicados)
  
psico = []
for x in duplicado:
 psico.append (sum (x))
 
df2 ['psicofarmacos'] = psico

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2.columns

Index(['provider_cuit', 'mr_reposo', 'mr_epicrisis_edit', 'mr_receta',
       'texto_edit', 'destino_Anula el paciente',
       'destino_Anula por falla de conexión',
       'destino_En domicilio con instrucciones',
       'destino_En domicilio con monitoreo',
       'destino_En domicilio con seguimiento',
       'destino_Evaluación en amarillo', 'destino_Evaluación en rojo',
       'destino_Evaluación en verde VMD',
       'destino_Indico concurrir a guardia externa',
       'destino_Indico seguimiento por consultorio externo',
       'destino_Paciente ausente', 'destino_Traslado protocolo pandemia',
       'destino_USER CANCEL', 'duración_consulta_segundos', 'receta',
       'psicofarmacos'],
      dtype='object')

In [ ]:
#Genero la variable "consultas" con el número de consultas que realizó cada provider 
#consultas = pd.DataFrame(df2.provider_cuit.value_counts().reset_index())
#consultas.columns = ['provider_cuit', 'consultas']
#merged = pd.merge(df2, consultas, on='provider_cuit')

In [ ]:
#renombro el dataset
df_restore = df2

In [ ]:
df_restore.sample(10)

       provider_cuit  mr_reposo  ...  receta psicofarmacos
292320  20173446889   1          ...  0       0
352135  23187241774   1          ...  1       0
70018   27942202615   0          ...  0       0
130676  27954520507   1          ...  0       0
116022  20953618614   1          ...  0       0
548946  20301453443   0          ...  0       0
453049  27954520507   1          ...  0       0
203005  27957001039   0          ...  0       0
385720  27947930589   0          ...  0       0
46181   20301453443   1          ...  0       0

[10 rows x 21 columns]

In [ ]:
#extraigo las variables de duración de las consultas de cada paciente
df_tiempo = df_restore.groupby('provider_cuit').duración_consulta_segundos.agg(['mean', 'median'])
df_tiempo.columns = ['mean_tiempo', 'median_tiempo']

In [ ]:
#Genero la variable "consultas" con el número de consultas que realizó cada provider 
consultas = pd.DataFrame(df2.provider_cuit.value_counts().reset_index())
consultas.columns = ['provider_cuit', 'consultas']
merged = pd.merge(consultas, df_tiempo, on='provider_cuit')

In [ ]:
df_texto = df_restore.groupby('provider_cuit').texto_edit.agg(['mean', 'median'])
df_texto.columns = ['mean_texto', 'median_texto']
merged_1 = pd.merge(merged, df_texto, on='provider_cuit')

In [ ]:
df_epicrisis = df_restore.groupby('provider_cuit').mr_epicrisis_edit.agg(['mean', 'median'])
df_epicrisis.columns = ['mean_epicrisis', 'median_epicrisis']
merged_2 = pd.merge(merged_1, df_epicrisis, on='provider_cuit')

In [ ]:
# sumo los pedidos de psicofarmacos de cada paciente y lo agrego al dataset anterior
df_psico = df_restore.groupby('provider_cuit').psicofarmacos.agg(['sum'])
df_psico.columns = ['psicofarmaco']
merged_3 = pd.merge(merged_2, df_psico, on='provider_cuit')

In [ ]:
#sumo las recetas de cada paciente 
df_recetas = df_restore.groupby('provider_cuit').receta.agg(['sum'])
df_recetas.columns = ['recetas']
merged_4 = pd.merge(merged_3, df_recetas, on='provider_cuit')

In [ ]:
#sumo los pedidos de reposo y los agrego al dataframe anterior
df_reposo = df_restore.groupby('provider_cuit').mr_reposo.agg(['sum'])
df_reposo.columns = ['reposo']
merged_5 = pd.merge(merged_4, df_reposo, on='provider_cuit')

In [ ]:
df_restore.columns

Index(['provider_cuit', 'mr_reposo', 'mr_epicrisis_edit', 'mr_receta',
       'texto_edit', 'destino_Anula el paciente',
       'destino_Anula por falla de conexión',
       'destino_En domicilio con instrucciones',
       'destino_En domicilio con monitoreo',
       'destino_En domicilio con seguimiento',
       'destino_Evaluación en amarillo', 'destino_Evaluación en rojo',
       'destino_Evaluación en verde VMD',
       'destino_Indico concurrir a guardia externa',
       'destino_Indico seguimiento por consultorio externo',
       'destino_Paciente ausente', 'destino_Traslado protocolo pandemia',
       'destino_USER CANCEL', 'duración_consulta_segundos', 'receta',
       'psicofarmacos'],
      dtype='object')

In [ ]:
df_ausente = df_restore.groupby('provider_cuit')['destino_Paciente ausente'].agg(['sum'])
df_ausente.columns = ['ausente']
merged_6 = pd.merge(merged_5, df_ausente, on='provider_cuit')

In [ ]:
df_conexion = df_restore.groupby('provider_cuit')['destino_Anula por falla de conexión'].agg(['sum'])
df_conexion.columns = ['conexion']
merged_7 = pd.merge(merged_6, df_conexion, on='provider_cuit')

In [ ]:
def variable (colum, name, merge):
  df = 'df_' + name
  df = df_restore.groupby('provider_cuit')[str(colum)].agg(['sum'])
  df.columns = [str(name)]
  merged = pd.merge(merge, df, on='provider_cuit')
  return merged

In [ ]:
merged_8 = variable ('destino_En domicilio con instrucciones', 'domicilio', merged_7)

In [ ]:
merged_9 = variable ('destino_Evaluación en amarillo', 'amarillo', merged_8)

In [ ]:
merged_10 = variable ('destino_Evaluación en rojo', 'rojo', merged_9)

In [ ]:
merged_11 = variable ('destino_Evaluación en verde VMD', 'verde', merged_10)

In [ ]:
fraude = merged_11.dropna()

In [ ]:
fraude.head(10)

  provider_cuit  consultas   mean_tiempo  ...  amarillo  rojo  verde
0  27955020974   14980      1011.204139   ...  2157      187   363
1  20953156068   11571      1364.495376   ...  597       23    708
2  27952457425   11532      1611.346687   ...  362       36    797
3  20345174762   10520      22277.156669  ...  478       140   1357
4  27190202165   10450      1667.371770   ...  587       30    437
5  27947930589   10384      1942.477947   ...  578       121   586
6  27265886073   9588       1692.128807   ...  545       33    449
7  20947957091   9223       2103.828039   ...  848       108   501
8  27954160756   9075       1241.568375   ...  692       48    298
9  23187241774   8782       3265.447734   ...  351       35    205

[10 rows x 17 columns]

In [ ]:
fraude.to_csv(path + 'fraude_dataset')

In [ ]:
fraude

    provider_cuit  consultas    mean_tiempo  ...  domicilio  amarillo  rojo
0    27955020974   14980      1011.204139    ...  9055       2157      187
1    20953156068   11571      1364.495376    ...  6378       597       23
2    27952457425   11532      1611.346687    ...  6624       362       36
3    20345174762   10520      22277.156669   ...  5893       478       140
4    27190202165   10450      1667.371770    ...  6907       587       30
..           ...     ...              ...    ...   ...       ...       ..
483  20351743787   1          131.000000     ...  1          0         0
484  20393421143   1          415271.000000  ...  0          0         0
486  27343842835   1          1838.000000    ...  1          0         0
487  20078288257   1          1252.000000    ...  0          0         0
490  20954682022   1          1741.000000    ...  1          0         0

[389 rows x 16 columns]

In [ ]:
df_metrics = pd.read_csv (path + 'providers_metrics.csv')

In [ ]:
df_metrics = df_metrics[['cuit', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars']]

In [ ]:
df_metrics.columns = ['provider_cuit', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars']

In [ ]:
fraude_merged = pd.merge(fraude, df_metrics, on='provider_cuit')

In [ ]:
fraud_merged = fraude_merged.drop_duplicates()

In [ ]:
fraud_merged2 = fraud_merged.dropna()

In [ ]:
fraud_merged2.head()

  provider_cuit  consultas  ...  metrics_sum_puntualidad  metrics_sum_stars
0  27955020974   14980      ...  2887.0                   27491.0
1  20953156068   11571      ...  1369.0                   23678.0
2  27952457425   11532      ...  2352.0                   17347.0
3  20345174762   10520      ...  963.0                    18554.0
4  27190202165   10450      ...  2330.0                   17575.0

[5 rows x 21 columns]

In [ ]:
fraud_merged2.to_csv(path + 'providers_dataset_final')

In [ ]:
fraud_merged2 = pd.read_csv(path + 'providers_dataset_final', index_col=0)

In [ ]:
fraud_merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 0 to 279
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   provider_cuit            274 non-null    object
 1   consultas                274 non-null    int64
 2   mean_tiempo              274 non-null    float64
 3   median_tiempo            274 non-null    float64
 4   mean_texto               274 non-null    float64
 5   median_texto             274 non-null    float64
 6   mean_epicrisis           274 non-null    float64
 7   median_epicrisis         274 non-null    float64
 8   psicofarmaco             274 non-null    int64
 9   recetas                  274 non-null    int64
 10  reposo                   274 non-null    int64
 11  ausente                  274 non-null    int64
 12  conexion                 274 non-null    int64
 13  domicilio                274 non-null    int64
 14  amarillo                 274 non-null    int64
 15  rojo                     274 non-null    int64
 16  verde                    274 non-null    int64
 17  metrics_puntualidad      274 non-null    float64
 18  metrics_stars            274 non-null    float64
 19  metrics_sum_puntualidad  274 non-null    float64
 20  metrics_sum_stars        274 non-null    float64
dtypes: float64(10), int64(10), object(1)
memory usage: 47.1+ KB

In [ ]:
fraud_merged2.columns

Index(['provider_cuit', 'consultas', 'mean_tiempo', 'median_tiempo',
       'mean_texto', 'median_texto', 'mean_epicrisis', 'median_epicrisis',
       'psicofarmaco', 'recetas', 'reposo', 'ausente', 'conexion', 'domicilio',
       'amarillo', 'rojo', 'verde', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars'],
      dtype='object')

In [ ]:
df_fraude = fraud_merged2

In [ ]:
features = ['consultas', 'mean_tiempo', 'median_tiempo',
       'mean_texto', 'median_texto', 'mean_epicrisis', 'median_epicrisis',
       'psicofarmaco', 'recetas', 'reposo', 'ausente', 'conexion', 'domicilio',
       'amarillo', 'rojo', 'verde', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars']

In [ ]:
from sklearn.preprocessing import StandardScaler


x = df_fraude.loc[:, features].values
# Separating out the target
y = df_fraude.loc[:,['provider_cuit']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

In [ ]:
principalDf.index=df_fraude.index
finalDf = pd.concat([principalDf, df_fraude[['provider_cuit']]], axis = 1)

In [ ]:
finalDf

     principal component 1  principal component 2 provider_cuit
0                13.717312              -1.371774   27955020974
1                 9.905192              -2.082164   20953156068
2                 8.723683              -0.130986   27952457425
3                 9.280241              -2.204708   20345174762
4                 8.594480              -0.961832   27190202165
..                     ...                    ...           ...
274              -2.312236              -1.605428   27957277522
275              -2.304613              -1.779575   27949967552
277              -2.659752              -3.585740   27954932511
278              -2.376193              -2.339903     115060382
279              -2.331374              -2.573833   20359896213

[274 rows x 3 columns]

In [ ]:
#GENERO PCA
from sklearn.metrics import mean_squared_error
pca = PCA(n_components=2)
pca.fit(x)
X_train = pca.transform(x)
X_dt = pca.inverse_transform(X_train)
rms = mean_squared_error(x, X_dt, squared=True)

In [ ]:
#Armo un score 
score = []
for i in enumerate(x):
  rms = mean_squared_error(x[i[0]], X_dt[i[0]], squared=True)
  score.append (rms)

In [ ]:
# genero un dict con score y dni
lista_dni = df_fraude.provider_cuit.to_list()
data = {'cuit': lista_dni, 'score': score}
df_score = pd.DataFrame.from_dict(data)

In [ ]:
df_score.sort_values(by=['score'], ascending=False).head(15)

            cuit      score
162  27184458239  25.648615
8    27954160756   7.114396
96   27946817312   4.894520
31   27957577194   4.866491
9    23187241774   4.188378
15   27307001824   3.440729
0    27955020974   2.797624
3    20345174762   2.204873
10   20950663198   2.178699
49   27953661514   1.784554
239  27958939960   1.509397
11   27955467154   1.418669
17   27946998074   1.282178
95   27959114795   1.221268
18   20944389408   1.156167

In [ ]:
df_reindex = df_score.sort_values(by=['score'], ascending=False).reset_index(drop = True)

In [ ]:
nombres = pd.read_csv (path + 'providers_name.csv')

In [ ]:
df_nombres = nombres[['cuit', 'fullname']]

In [ ]:
df_nombres.columns = ['provider_cuit', 'fullname']

In [ ]:
final_merged = pd.merge(df_fraude, df_nombres, on='provider_cuit')

In [ ]:
final_merged = final_merged.drop_duplicates()

In [ ]:
final_merged = final_merged.dropna()

In [ ]:
df_score.columns = ['provider_cuit', 'score']

In [ ]:
final_merged_order = pd.merge(final_merged, df_score, on='provider_cuit')

In [ ]:
provider_fraudolentos = [27953661514, 27954160756]

In [ ]:
final_merged[final_merged.provider_cuit == '27953661514']

   provider_cuit  consultas  ...                      fullname  cluster
49   27953661514       3851  ...  JOHANNA ANDREA ZAMBRANO MERA       -1

[1 rows x 23 columns]

In [ ]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=2, algorithm='auto').fit(x)
distances, indices = nbrs.kneighbors(x)

In [ ]:
X = StandardScaler().fit_transform(X)

NameError: ignored

In [ ]:
from sklearn.cluster import DBSCAN
clustering = DBSCAN(eps=3, min_samples=3).fit(x)
c = clustering.labels_.tolist()

In [ ]:
c.count(-1)

35

In [ ]:
final_merged ['cluster'] = pd.Series(c)

In [ ]:
final_merged[final_merged.cluster == 1]

  provider_cuit  consultas  ...                        fullname  cluster
5   27947930589      10384  ...           GLADIS OVIEDO DELGADO        1
7   20947957091       9223  ...  JIMMY LEONCIO PALOMINO RAMIREZ        1

[2 rows x 23 columns]

In [ ]:
final_merged.median_tiempo.value_counts().head(30)

875.0       3
729.0       3
512.0       2
865.0       2
740.0       2
1034.0      2
767.0       2
599.0       2
626.0       2
759.0       2
639.0       2
604.0       2
477.0       2
1124.0      2
718.0       2
1283.0      2
489.0       2
614.0       2
903.0       2
1091.0      2
712.0       2
592.0       2
1110.0      2
1038.0      2
528.0       2
744.0       2
608363.0    1
1090.0      1
621.0       1
2108.0      1
Name: median_tiempo, dtype: int64

In [ ]:
sabri = final_merged_order.sort_values(by=['score'], ascending=False)

In [ ]:
sabri.columns

Index(['provider_cuit', 'consultas', 'mean_tiempo', 'median_tiempo',
       'mean_texto', 'median_texto', 'mean_epicrisis', 'median_epicrisis',
       'psicofarmaco', 'recetas', 'reposo', 'ausente', 'conexion', 'domicilio',
       'amarillo', 'rojo', 'verde', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars', 'fullname', 'cluster',
       'score'],
      dtype='object')

In [ ]:
sabri_final = sabri[['score', 'cluster','fullname','provider_cuit', 'consultas', 'mean_tiempo', 'median_tiempo',
       'mean_texto', 'median_texto', 'mean_epicrisis', 'median_epicrisis',
       'psicofarmaco', 'recetas', 'reposo', 'ausente', 'conexion', 'domicilio',
       'amarillo', 'rojo', 'verde', 'metrics_puntualidad', 'metrics_stars',
       'metrics_sum_puntualidad', 'metrics_sum_stars']]

In [ ]:
sabri = sabri_final.reset_index (drop=True)

In [ ]:
sabri_final.head(20)

         score  cluster  ... metrics_sum_puntualidad metrics_sum_stars
162  25.648615       -1  ...                   145.0             412.0
8     7.114396       -1  ...                  1584.0            9325.0
96    4.894520       -1  ...                  1282.0            2496.0
31    4.866491       -1  ...                  4077.0            6054.0
9     4.188378       -1  ...                  1083.0           16265.0
15    3.440729       -1  ...                  5050.0           16630.0
0     2.797624       -1  ...                  2887.0           27491.0
3     2.204873       -1  ...                   963.0           18554.0
10    2.178699       -1  ...                  3367.0            3263.0
49    1.784554       -1  ...                   975.0             971.0
239   1.509397       -1  ...                    29.0              21.0
11    1.418669       -1  ...                   606.0            8618.0
17    1.282178       -1  ...                  3360.0           10276.0
95    1.221268       -1  ...                   774.0             798.0
18    1.156167       -1  ...                   939.0           11571.0
104   1.104598       -1  ...                   429.0            3801.0
32    1.079565       -1  ...                  1526.0            8270.0
34    1.025199       -1  ...                  1362.0            4041.0
179   0.948815        0  ...                    12.0             771.0
13    0.893237       -1  ...                   777.0            8164.0

[20 rows x 24 columns]

In [ ]:
sabri_final.to_csv (path + 'fraudulent_providers.csv', index = False)

In [ ]:
sabri_final.to_excel (path + 'fraudulent_providers.xlsx', index = False)

In [ ]:
df3 = pd.read_csv (path + 'fraudulent_providers.csv')

In [ ]:
df3.head(15)

        score  cluster  ... metrics_sum_puntualidad metrics_sum_stars
0   25.648615       -1  ...                   145.0             412.0
1    7.114396       -1  ...                  1584.0            9325.0
2    4.894520       -1  ...                  1282.0            2496.0
3    4.866491       -1  ...                  4077.0            6054.0
4    4.188378       -1  ...                  1083.0           16265.0
5    3.440729       -1  ...                  5050.0           16630.0
6    2.797624       -1  ...                  2887.0           27491.0
7    2.204873       -1  ...                   963.0           18554.0
8    2.178699       -1  ...                  3367.0            3263.0
9    1.784554       -1  ...                   975.0             971.0
10   1.509397       -1  ...                    29.0              21.0
11   1.418669       -1  ...                   606.0            8618.0
12   1.282178       -1  ...                  3360.0           10276.0
13   1.221268       -1  ...                   774.0             798.0
14   1.156167       -1  ...                   939.0           11571.0

[15 rows x 24 columns]